<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="groupdocs.viewer" type="GroupDocs.Viewer.Config.GroupDocsViewerSection, GroupDocs.Viewer"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <groupdocs.viewer>
    <storagePath value="C:\storage"/>
    <cacheFolderName value="cachefolder"/>
    <cachePath value="C:\cache"/>
    <useCache value="true"/>
    <usePdf value="false"/>
    <localesPath value="C:\locales"/>
    <pageNamePrefix value="prefix"/>
    <defaultFontName value="Times New Roman"/>
    <fontDirectories>
      <add path="C:\fonts" />
      <add path="C:\more_fonts" />
    </fontDirectories>
  </groupdocs.viewer>
</configuration>