<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="groupdocs.viewer" type="GroupDocs.Viewer.Config.GroupDocsViewerSection, GroupDocs.Viewer" />
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value="xxxxxxxxxxxxxxxxxxx" />
    <add key="AWSSecretKey" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AWSRegion" value="ap-south-1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <!--<groupdocs.viewer>
    <storagePath value="C:\storage"/>
    <cacheFolderName value="cachefolder"/>
    <cachePath value="C:\cache"/>
    <enableCaching value="true"/>
    <usePdf value="false"/>
    <localesPath value="C:\locales"/>
    <pageNamePrefix value="prefix"/>
    <defaultFontName value="Times New Roman"/>
    <forcePasswordValidation value="true"/>
    <fontDirectories>
      <add path="C:\fonts"/>
      <add path="C:\more_fonts"/>
    </fontDirectories>
  </groupdocs.viewer>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.PDF" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.10.0.0" newVersion="18.10.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Imaging" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.8.0.0" newVersion="18.8.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
