.venturelogo a.groupdocs {
	width: 270px;
	height: 50px;
	background: url(https://cms.admin.containerize.com/templates/groupdocs/images/logos/groupdocs-logo.png) no-repeat;
	margin-top: 5px;
}

.admin_mGrid {
	padding: 0;
	border-radius: 4px !important;
	font-size: 16px;
	font-weight: normal;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666666;
	border: 0 !important;
	width: 70%;
	margin: 25px auto;
}

	.admin_mGrid th {
		background: #006bb0;
		color: #FFFFFF;
		font-size: 18px;
		padding: 10px;
		text-align: left;
		font-weight: normal
	}

	.admin_mGrid td {
		/*width: 45%;*/
		font-size: 14px;
		padding: 10px;
		text-align: left;
	}

		.admin_mGrid td:last-child {
			width: 10%;
		}

		.admin_mGrid td input[type=text] {
			font-size: 14px;
			padding: 5px;
			text-align: left;
			width: 100%;
		}

		.admin_mGrid td[colspan="4"] {
			background: #FEFEFE;
			color: #333333 !important;
			padding: 18px 15px;
			border-radius: 4px !important;
			font-size: 18px;
			font-weight: normal;
			outline: 0 !important;
			box-shadow: 0 6px 1px -5px #666666;
			border: 0 !important;
			width: 70%;
			margin: 25px auto;
		}


		.admin_mGrid td select {
			font-size: 14px;
			padding: 5px;
			text-align: left;
			width: 100%;
		}

	.admin_mGrid tr:nth-child(even) {
		background: #ffffff;
		color: #333333;
	}

	.admin_mGrid tr:nth-child(odd) {
		background: #e9e9e9;
		color: #333333;
	}

	.admin_mGrid tr:hover {
		background: #ddf5ff;
	}

	.admin_mGrid tr {
		border-bottom: 1px solid #3c8ec7;
	}


.btn.refresh-c {
	border-radius: 4px !important;
}

.GroupDocsApps a:hover, .GroupDocsApps button:hover {
	opacity: .8;
}

.GroupDocsApps {
	text-align: center;
	background: url(../img/bg/header.png) top center no-repeat;
	background-size: cover;
}

	.GroupDocsApps h1 {
		font-size: 45px;
		font-weight: bold;
		color: #FFFFFF;
	}

	.GroupDocsApps h4 {
		color: #FFFFFF;
	}

	.GroupDocsApps p {
		font-size: 20px;
		font-weight: normal;
		color: #FFFFFF;
	}

.pt-5, .pb-5 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.pb5 {
	padding-bottom: 50px;
}

.uploadfileinput input {
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%
}

.filedrop {
	position: relative;
	width: 65%;
	border: 3px dashed #6dcff6 !important;
	padding: 50px 100px 30px;
	margin: 50px auto 50px;
	border-radius: 10px;
	box-shadow: 0 0 50px -20px #333333;
	background: #FFFFFF;
	background-image: url('../img/fast-easy.png');
	background-repeat: no-repeat;
	background-position: center 5px;
}

	.filedrop input {
		width: 100%;
		opacity: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.filedrop label {
		width: 100%;
		font-size: 22px;
		font-weight: normal;
	}

filedrop:hover label {
	opacity: .8;
}

.filedrop a, .filedrop a label {
	font-size: 13px;
	color: #7f8b77;
	display: inline
}

.progress {
	margin-top: 30px;
}

.fileupload {
	position: relative;
	z-index: 5;
}

.filename {
	background: #e0f4d3;
	color: #7f8b77;
	padding: 10px 15px;
	border-radius: 6px;
	margin-top: 10px;
	display: inline-block;
}

	.filename i {
		color: #cfad99
	}

filesendemail {
	width: 100%;
}

.filesuccess {
	position: relative;
	width: 65%;
	border: 0px dashed #6dcff6 !important;
	padding: 50px 100px 50px;
	margin: 50px auto 30px;
	border-radius: 10px;
	box-shadow: 0 0 20px -10px #333333;
	background: #eff9e8
}

	.filesuccess label {
		width: 100%;
		font-size: 24px;
		font-weight: normal;
		margin-bottom: 20px
	}

.saveas {
	margin: 0px 4px;
	display: inline-block;
}

	.saveas em {
		font-size: 24px;
		font-style: normal;
		margin-right: 10px;
		color: #FFFFFF
	}

	.saveas .saveformat button, .btn-group > .btn:first-child {
		background: #ebebeb;
		border: 1px solid #CCCCCC;
		padding: 15px;
		font-size: 18px;
		color: #757575;
		border-radius: 4px !important;
		text-align: left;
		min-width: 200px;
		box-shadow: 0 6px 1px -5px #666666;
	}

		.saveas .saveformat button:hover, .btn-group > .btn:first-child:hover, .saveas .saveformat button:focus, .btn-group > .btn:first-child:focus {
			background: #3683b9;
			color: #FFFFFF;
			border-color: #3683b9
		}

	.saveas .dropdown-toggle::after {
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: .255em;
		vertical-align: .255em;
		content: "";
		border-top: .3em solid;
		border-right: .3em solid transparent;
		border-bottom: 0;
		border-left: .3em solid transparent;
		position: absolute;
		right: 10px;
		top: 25px;
	}

	.saveas .open > .dropdown-menu {
		display: block;
		margin: 0 !important;
		background: #FFFFFF;
	}

		.saveas .open > .dropdown-menu a {
			width: 100%;
			display: block;
			margin: 0;
			padding: 5px 15px;
			font-size: 16px !important;
			transition: 0ms all ease-in-out !important
		}

			.saveas .open > .dropdown-menu a:last-child {
				margin: 0;
			}

			.saveas .open > .dropdown-menu a:hover {
				cursor: pointer;
				color: #FFFFFF;
				background: #428bca;
			}

.convertbtn {
	display: inline-block;
}

	.convertbtn .btn {
		background: #65c621;
		color: #FFFFFF;
		padding: 18px 90px;
		border-radius: 4px !important;
		font-size: 18px;
		font-weight: normal;
		outline: 0 !important;
		box-shadow: 0 6px 1px -5px #666666;
		border: 0 !important
	}

		.convertbtn .btn:hover {
			opacity: .8;
		}

.dropzone .dz-preview .dz-image {
	display: none !important
}

.dropzone .dz-preview .dz-details {
	opacity: 1 !important;
	padding: 0 1em !important
}

.dropzone .dz-preview {
	width: 100%;
}

	.dropzone .dz-preview .dz-progress {
		opacity: 1 !important;
		z-index: 1 !important;
		pointer-events: none !important;
		position: static !important;
		height: 16px !important;
		left: inherit !important;
		top: inherit !important;
		margin: 20px auto !important;
		width: 70% !important;
		margin-left: inherit !important;
		border-radius: 4px !important;
		display: inline-block !important;
	}

	.dropzone .dz-preview .dz-details {
		position: relative !important
	}

.dropzone .dz-filename span, .dropzone .dz-filename {
	background: #e0f4d3 !important;
	padding: 5px !important;
	display: table;
	margin: 0 auto;
	border: 0 !important;
}

.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
	display: none !important;
}

.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 1s linear infinite;
	animation: progress-bar-stripes 1s linear infinite;
}

.sendemail {
	display: table;
	margin: 0 auto;
}

	.sendemail .bg-primary {
		background: #1a89d0;
		color: #FFFFFF
	}

.brdr-spacer {
	margin: 00px 0 30px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
}

.productsrow .col-lg-4 {
	margin-bottom: 30px;
}

	.productsrow .col-lg-4:nth-child(4) {
		display: block;
		clear: left;
	}

.container-fluid.relatedlinks {
	background-color: #333333;
	padding: 3% 0% !important;
	color: #efefef;
	background-image: url(https://www.GroupDocs.com/homepage/img/bg/footer-bg.png);
	background-repeat: repeat;
	background-position: 0 bottom;
	display: block;
	clear: both;
}

.relatedlinks ul {
	list-style-type: none;
	float: left;
	padding: 0;
}

	.relatedlinks ul a {
		font-size: 13px;
		color: #999;
	}

		.relatedlinks ul a:hover {
			color: #eee;
		}

.row {
	margin: 0 !important
}

.con-featureslist ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

	.con-featureslist ul li {
		margin-bottom: 5px;
	}

.con-featureslist span {
	display: inline;
	float: left;
	margin-left: 10px;
	text-align: left
}

.con-featureslist h3 {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase
}

.circle-features {
	display: inline;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	border-radius: 100%;
	color: #ffffff;
	width: 70px;
	height: 70px;
	transition: 400ms all ease-in-out;
	transform: scale(1);
	float: left
}

.bgwrapanim {
	transform: scale(1);
	opacity: .9;
}

.con-featureslist .col-md-3:hover .circle-features {
	transform: scale(1.1);
	transition: 400ms all ease-in-out;
}

.features-bg1 {
	background: #64d79c
}

.features-bg2 {
	background: #a1c8e7
}

.features-bg3 {
	background: #d48068
}

.features-bg4 {
	background: #e4d6ed
}

.circle-features img {
	vertical-align: top;
}

.imageanim {
	position: relative;
	margin: 0 auto;
	display: inline-table;
}

	.imageanim .from {
		position: absolute;
		left: -170px;
		top: 60px;
		animation: moveleft 5.3s infinite;
	}

	.imageanim .to {
		position: absolute;
		right: -150px;
		top: 60px;
		animation: moveright 5.5s infinite;
	}

@keyframes rotatecircle {
	0% {
		transform: rotate(0deg);
		transition: 200ms all linear
	}

	100% {
		transform: rotate(360deg);
		transition: 200ms all linear
	}
}

@keyframes moveleft {
	0% {
		left: -50px;
		opacity: 0;
		transform: scale(0.8);
		transition: 400ms all ease-in-out
	}

	10% {
		left: -20px;
		opacity: 1;
		transform: scale(1);
		transition: 400ms all ease-in-out
	}

	100% {
		left: 120px;
		opacity: 0;
		transition: 400ms all ease-in-out
	}
}

@keyframes moveright {
	0% {
		right: -50px;
		opacity: 0;
		transform: scale(0.8);
		transition: 400ms all ease-in-out
	}

	10% {
		right: -20px;
		opacity: 1;
		transform: scale(1);
		transition: 400ms all ease-in-out
	}

	100% {
		right: 120px;
		opacity: 0;
		transition: 400ms all ease-in-out
	}
}

@keyframes pulsescale {
	0% {
		transform: scale(1);
		transition: 400ms all ease-in-out
	}

	50% {
		transform: scale(0.90);
		transition: 400ms all ease-in-out
	}

	51% {
		transform: scale(0.90);
		transition: 400ms all ease-in-out
	}

	100% {
		transform: scale(1);
		transition: 400ms all ease-in-out
	}
}

#pMessage {
	position: absolute;
	bottom: 160px;
	left: 20%;
	font-size: 13px;
}

#ctl00_MainContent_rfvFile, #ctl00_MainContent_ValidateFileType, #ValidateFileType {
	font-size: 13px;
	background: #f2dede;
	color: #a94442;
	padding: 5px;
	margin: 10px;
	border-radius: 4px;
}

.fileformatsico {
	position: absolute;
	display: inline-table;
	margin: 0 auto;
	width: 100%;
	left: 0;
	margin-top: -30px;
}

	.fileformatsico img {
		transform: rotate(-35deg);
		margin: 0px 20px;
		display: inline-block;
		transition: 300ms all ease-in-out;
	}

.filename i {
	cursor: pointer;
}

.refresh-c:hover i {
	animation: rotatecircle infinite linear 3s;
}

.con-featureslist {
	text-align: center !important
}

	.con-featureslist .col-md-12 {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

.app-tabs-menu {
	background: #2f6f99;
	color: #FFFFFF;
	z-index: 0 !important;
}

	.app-tabs-menu ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		display: table;
	}

		.app-tabs-menu ul li {
			display: inline;
		}

			.app-tabs-menu ul li a {
				font-size: 16px;
				font-weight: bold;
				padding: 15px;
				color: #FFFFFF;
				display: inline-block;
			}

				.app-tabs-menu ul li a.active {
					background: #3c8ec7 !important
				}

				.app-tabs-menu ul li a:hover, .app-tabs-menu ul li a:focus {
					background: #3683b9;
				}

.app-product-section {
	background: #b4b4b4;
}

	.app-product-section.tl h3, .app-product-section.tl li {
		text-align: left;
	}

	.app-product-section h3 {
		font-size: 40px;
		color: #FFFFFF;
		font-weight: bold;
		margin: 0
	}

	.app-product-section ul {
		margin: 0;
		padding: 20px
	}

	.app-product-section li {
		color: #666666;
		font-weight: normal;
	}

.app-features-section h4 {
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}

.app-features-section p {
	font-weight: 100;
	font-size: 16px;
	padding: 0 10px;
	color: #666666
}

.app-features-section .imgcircle {
	width: 72px;
	height: 72px;
	display: table;
	margin: 0 auto 30px;
	border-radius: 100%;
	padding: 10px 10px;
	line-height: 50px;
}

	.app-features-section .imgcircle img {
		opacity: .8;
	}

	.app-features-section .imgcircle.fasteasy {
		background: #64d79c;
	}

	.app-features-section .imgcircle.anywhere {
		background: #a1c8e7;
	}

	.app-features-section .imgcircle.quality {
		padding-top: 13px;
		background: #e4d6ed;
	}

.swiper-button-next, .swiper-button-prev {
	display: none;
}


.appfamily-header.header2 {
	height: inherit;
}

.appfamily-header.minify-header h1 {
	font-size: 35px;
}

.appfamily-header.minify-header ul {
	margin-top: 25px;
}

.appfamily-header.minify-header li {
	font-size: 20px;
}

.productfamilypage .productfamily_box {
	position: relative;
	border: 1px solid #E7E7E7 !important
}

	.productfamilypage .productfamily_box:hover .applist {
		height: inherit !important;
		opacity: 1;
		visibility: visible;
		padding: 5px 0 25px 35px;
		transition: 100ms ease-in-out all;
		border-left: 1px solid #E7E7E7;
		border-right: 1px solid #E7E7E7;
		border-bottom: 1px solid #E7E7E7;
		box-shadow: 0 10px 20px -7px #DDD;
	}

.applist {
	height: 0 !important;
	padding: 15px 0 15px 35px;
	opacity: 0;
	visibility: hidden;
	left: -1px;
	position: absolute;
	background: #ffffff;
	color: #333333;
	width: 100.7%;
	margin: 0;
	list-style-type: disc;
	border-radius: 0px;
	z-index: 99;
	top: 80px;
}

	.applist li a {
		padding: 3px 0;
		color: #333333;
		display: block;
		font-size: 14px;
	}

		.applist li a:hover {
			color: #3b8bc2;
			text-decoration: underline !important
		}

/*WaterMark */
.watermark {
	width: 100%;
	display: table;
	margin: 0 auto 30px;
}

	.watermark textarea {
		background: #fefefe;
		border: 1px solid #CCCCCC;
		padding: 15px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-width: 40%;
		max-width: 720px;
		max-height: 200px;
		max-height: 60px;
		box-shadow: 0 6px 1px -5px #666666;
		display: inline;
		vertical-align: top;
	}

.btn-wm {
	background: #2f6f99;
	color: #FFFFFF;
	padding: 18px 20px;
	border-radius: 4px !important;
	font-size: 18px;
	font-weight: normal;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #18415c;
	border: 0 !important;
	display: inline;
}
/*Metadata*/
.GroupDocsApps p.alert-danger {
	color: #a94442;
}

.norecords {
	background: #FEFEFE;
	color: #333333 !important;
	padding: 18px 15px;
	border-radius: 4px !important;
	font-size: 18px;
	font-weight: normal;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666666;
	border: 0 !important;
	width: 70%;
	margin: 25px auto;
}

table.metarecode {
	padding: 0;
	border-radius: 4px !important;
	font-size: 16px;
	font-weight: normal;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666666;
	border: 0 !important;
	width: 70%;
	margin: 25px auto;
}

	table.metarecode th {
		background: #006bb0;
		color: #FFFFFF;
		font-size: 18px;
		padding: 10px;
		text-align: left;
		font-weight: normal
	}

	table.metarecode td {
		width: 45%;
	}

		table.metarecode td:last-child {
			width: 10%;
		}

	table.metarecode td {
		font-size: 14px;
		padding: 10px;
		text-align: left;
	}

	table.metarecode tr:nth-child(even) {
		background: #ffffff;
		color: #333333;
	}

	table.metarecode tr:nth-child(odd) {
		background: #e9e9e9;
		color: #333333;
	}

	table.metarecode tr:hover {
		background: #ddf5ff;
	}

	table.metarecode tr {
		border-bottom: 1px solid #3c8ec7;
	}

	table.metarecode td input[type=text] {
		font-size: 14px;
		padding: 5px;
		text-align: left;
		width: 100%;
	}

.meta-ico {
	background: url(../img/sprite_meta.png) 0 -5px no-repeat transparent;
	width: 24px;
	height: 22px;
	display: inline-block;
}

.ico-edit {
	background-position: 0 -30px;
}

.ico-delete {
	background-position: 0 -5px;
}

.ico-cancel {
	background-position: 0 -106px;
}

.ico-update {
	background-position: 0 -80px;
}

.meta-add {
	margin-bottom: 15px
}


	.meta-add table {
		border-spacing: 4px;
		border-collapse: unset;
	}


	.meta-add input[type=text] {
		background: #fefefe;
		border: 1px solid #CCCCCC;
		padding: 18px 10px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-width: 190px;
		max-width: 190px;
		max-height: 200px;
		max-height: 60px;
		box-shadow: 0 6px 1px -5px #666666;
		display: inline;
		vertical-align: top;
		margin-bottom: 0px
	}


	.meta-add select {
		background: #fefefe;
		border: 1px solid #CCCCCC;
		padding: 18px 10px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-width: 190px;
		max-width: 190px;
		max-height: 200px;
		max-height: 60px;
		box-shadow: 0 6px 1px -5px #666666;
		display: inline;
		vertical-align: top;
		margin-bottom: 0px
	}

.btn-record {
	background: #65c621;
	color: #FFFFFF;
	padding: 17px 35px;
	border-radius: 4px !important;
	font-size: 18px;
	font-weight: normal;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666666;
	border: 0 !important;
}

@media(max-width:1024px) {
	.appfamily-header.minify-header ul {
		list-style-type: none;
	}

	.productfamilypage .productfamily_box li, .productfamilypage .productfamily_box em {
		text-align: left
	}

	.swiper-button-next, .swiper-button-prev {
		display: none;
	}

	.app-product-section.tl .col-md-3 {
		float: left !important;
	}

		.app-product-section.tl .col-md-3 img {
			width: 100%
		}

	.box-center.emptybox {
		display: none;
	}

	.productsrow .col-lg-4:nth-child(4) {
		display: block;
		clear: none;
	}

	.productsrow .col-lg-3, .productsrow .col-lg-4 {
		float: left;
	}

	.relatedlinks ul {
		text-align: left;
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .content2 .box1 blockquote footer, .content2 .box1 h6 {
		text-align: center !important;
	}

	.con-featureslist .col-md-3 {
		width: 20%;
		max-width: 20%;
		display: inline-block;
	}
}

@media(max-width:768px) {
	/*WaterMark*/
	.watermark textarea {
		width: 100%;
		display: block;
		clear: both;
		min-width: 100%;
		margin: 0 auto 20px
	}
	/*WaterMark*/
	.relatedlinks ul:last-child {
		margin-left: 0 !important;
	}

	.app-product-section.tl .col-md-3, .app-product-section.tl .col-md-9 {
		float: none !important;
		display: table;
		margin: 0 auto 20px
	}

		.app-product-section.tl .col-md-3 img {
			width: 100%
		}

	.spacer2 {
		margin-bottom: 50px;
		clear: both;
		display: block;
	}

	.con-featureslist .col-md-1.pull-left {
		clear: both;
		display: block;
	}

	.con-featureslist .col-md-5, .con-featureslist .col-md-12 {
		display: block;
		align-items: center;
		margin-bottom: 0px;
		clear: both;
		width: 100%
	}

	.circle-features, .con-featureslist span {
		float: none;
		text-align: center !important;
		margin-bottom: 20px;
		display: block;
	}

	.con-featureslist .col-md-3 {
		width: 45%;
		max-width: 45%;
		display: inline-block;
		margin-bottom: 20px
	}

	.filedrop label, .fileupload label, .filesuccess label {
		font-size: 20px;
	}

	.convertbtn .btn {
		padding: 20px 40px;
	}
}

@media(max-width:668px) {
	.pdb-5 {
		padding-bottom: 50px;
	}

	.productfamilypage .productfamily_box .applist {
		left: 0;
		position: static;
		opacity: 1 !important;
		height: inherit !important;
		visibility: visible;
	}

	.productfamilypage .productfamily_box:hover .applist {
		border: 0 !important;
		box-shadow: none !important;
		padding: 15px 0 15px 35px !important;
	}

	.swiper-button-next, .swiper-button-prev {
		display: block;
	}

	.container-fluid.relatedlinks {
		padding-bottom: 100px !important;
	}
	/*	.app-tabs-menu::before{
		content: "\f104";
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		left:0;
		top:0;
		width: 20px;
		height: 48px;
		z-index: 99999;
		padding-top: 15px;
	}
	.app-tabs-menu::after{
		content: "\f105";
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		right:0;
		top:0;
		width: 20px;
		height: 48px;
		z-index: 99999;
		padding-top: 15px
	}
*/
	.swiper-button-next, .swiper-button-prev {
		width: 30px !important;
		height: 20px !important;
		top: 70% !important;
		outline: 0 !important;
	}

	.app-tabs-menu ul {
		display: flex;
	}

		.app-tabs-menu ul a {
			font-size: 13px !important;
		}

	.btn-group.saveformat {
		float: right;
		margin-bottom: 20px;
		margin-top: -10px;
	}

	.saveas {
		margin: 0;
		display: block;
		width: 100%;
	}

	.app-product-section {
		padding: 15px !important;
	}

		.app-product-section.tl h3, .app-product-section.tl li {
			text-align: center !important;
		}

		.app-product-section h3 {
			font-size: 36px;
		}

		.app-product-section li {
			font-size: 16px
		}

		.app-product-section ul {
			list-style-type: none;
		}

	.app-features-section {
		padding: 50px 0 !important
	}

	.relatedlinks ul:last-child {
		margin-left: 20px !important;
	}

	.relatedlinks h5 {
		font-size: 13px !important;
	}

	.app-tabs-menu ul li {
		text-align: center;
	}

	.filedrop label {
		padding: 10px;
	}

	.convertbtn {
		display: block;
		margin-top: 20px;
	}

	.con-featureslist .col-md-3 {
		width: 100%;
		max-width: 100%;
		display: inline-block;
	}

	.container-fluid.relatedlinks {
		background-image: none;
	}

	.relatedlinks ul {
		list-style-type: none;
		float: left;
		display: table;
		width: 40%;
		margin: 0 0 0 20px !important;
		padding: 0;
		text-align: left;
	}

	.con-featureslist ul li {
		font-size: 12px
	}

	.pt-5, .pb-5 {
		padding: 0
	}

	.filedrop, .fileupload, .filesuccess {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.convertbtn .btn {
		width: 100%;
	}
}



/* .APP */
.box-center {
	margin: 0 auto 20px auto !important;
	display: block !important;
	float: none !important
}

.GroupDocsptyltdcontent h3 {
	text-align: center;
	padding: 50px 30px 0;
	width: 40%;
	display: table;
	margin: 0 auto;
}

.GroupDocsptyltd .footerbottom {
	position: fixed;
	bottom: 0;
}

.footer2text p:first-letter {
	display: none !important
}

.static_header.header3.filefomatheader {
	background-image: url(../img/bg/header.png) !important;
	background-size: cover;
	opacity: 1;
	background-color: #000 !important;
	min-height: 507px;
}

	.static_header.header3.filefomatheader .headertitle h1 {
		margin-top: 100px !important;
	}

.GroupDocsptyltd.filefomatlogo .productsrow2 .productbox h6 {
	font-size: 13px;
	line-height: 26px;
}

.iconformats {
	position: relative;
}

	.iconformats img {
		transition: 300ms all ease-in-out
	}

	.iconformats img {
		position: absolute;
		opacity: .8;
	}

		.iconformats img:nth-child(1) {
			left: 15% !important;
			margin-top: 2%
		}

		.iconformats img:nth-child(2) {
			left: 26%;
			margin-top: 8%
		}

		.iconformats img:nth-child(3) {
			left: 18%;
			margin-top: 15%
		}

		.iconformats img:nth-child(4) {
			left: 34%;
			margin-top: 3%
		}

		.iconformats img:nth-child(5) {
			left: 36%;
			margin-top: 15%
		}

		.iconformats img:nth-child(6) {
			right: 15% !important;
			margin-top: 2%
		}

		.iconformats img:nth-child(7) {
			right: 26%;
			margin-top: 8%
		}

		.iconformats img:nth-child(8) {
			right: 18%;
			margin-top: 15%
		}

		.iconformats img:nth-child(9) {
			right: 34%;
			margin-top: 3%
		}

		.iconformats img:nth-child(10) {
			right: 36%;
			margin-top: 15%
		}

.productsrow2 .productbox.notext h6, .productsrow2 .productbox.notext {
	min-height: inherit !important;
}

.con-featureslist p {
	font-size: 14px;
}

.app-tabs-menu {
	text-align: center;
}

@media (max-width: 1024px) {
	.emptydiv, .iconsection {
		display: none !important
	}

	.topheader .menuitems {
		margin-left: 0;
		height: inherit;
	}

	.topheadermenus li:first-child a::after {
		display: none !important;
	}

	.static_header.header3.filefomatheader {
		min-height: auto !important;
		height: inherit !important;
	}
}

@media (max-width:767px) {
	.static_header.header3.filefomatheader .headertext {
		margin-top: 60px !important;
	}

	.static_header.header3.filefomatheader .headertitle h1 {
		margin-top: 50px !important;
	}
}


@media (max-width:1024px) {
	.col-lg-2 {
		width: 16.66666667%;
	}

	.col-lg-2, .col-lg-4 {
		float: left
	}
}

@media (max-width:768px) {


	.col-lg-2 {
		width: 95% !important;
	}

	.GroupDocsptyltdcontent h3 {
		text-align: center;
		padding: 50px 10px 0;
		width: 100%;
		display: table;
		margin: 0 auto;
	}

	.GroupDocsptyltdcontent {
		padding: 0 20px 30px;
		text-align: center;
	}

	#DynabicMenuFooter {
		position: fixed;
		/* bottom: 30px;*/
	}
}
/*  Menu Overwrite */
.topheadermenus .menuallapp {
	display: none;
	padding: 20px 10px;
}

.topheadermenus li:hover .menuallapp {
	display: block;
	background: #222222;
	color: #FFFFFF;
	position: absolute;
	width: 80%;
	left: 10%
}

.topheadermenus .menuallapp span {
	width: 20%;
	float: left;
	margin-bottom: 20px;
}

	.topheadermenus .menuallapp span h3 {
		display: block;
		margin: 0;
		font-size: 12px;
		text-transform: uppercase;
		color: #7c7c7c !important;
		font-weight: bold;
		padding: 5px 15px;
		text-transform: uppercase
	}

	.topheadermenus .menuallapp span a {
		padding: 5px 15px;
		margin: 0;
		font-size: 13px;
		line-height: inherit;
		color: #FFFFFF !important;
	}

		.topheadermenus .menuallapp span a:hover {
			background: none;
			color: #3d8ec4 !important;
		}

@media(max-width:1024px) {
	.topheadermenus .menuallapp span {
		width: 100%;
	}

		.topheadermenus .menuallapp span h3 {
			display: none;
		}
}

.groupfields {
	width: 65%;
	margin: 0 auto;
}

	.groupfields input[type="text"] {
		display: inline-block;
		width: 49%;
		float: left;
		padding: 15px;
		border-radius: 4px;
		border: 0;
		box-shadow: 0 6px 1px -5px #666666;
		margin-bottom: 15px;
		height: inherit;
	}

		.groupfields input[type="text"]:last-child {
			display: inline-block;
			width: 49%;
			float: right;
		}

@media(max-width:668px) {
	.groupfields {
		width: 100%;
		margin: 0 auto;
	}
}

@media(max-width:640px) {
	.groupfields input {
		width: 100% !important;
		margin: 0 auto;
	}
}

.col-5.sendemail .input-group {
	width: 320px;
}

.alert.alert-success {
	border-color: #a1c8e7;
	background: #a1c8e7;
	margin-bottom: 30px;
	font-size: 14px;
	display: table;
	margin: 0 auto 30px
}

.alert.alert-danger {
	font-size: 14px;
	display: table;
	margin: 0 auto 30px;
}

.watermark {
	width: 100%;
	display: table;
	margin: 0 auto 30px;
}

	.watermark textarea {
		background: #fefefe;
		border: 1px solid #CCCCCC;
		padding: 15px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-width: 40%;
		max-width: 720px;
		max-height: 200px;
		max-height: 60px;
		box-shadow: 0 6px 1px -5px #666666;
		display: inline;
		vertical-align: top;
	}
