.searchCls {
    width: 370px;
}

.dropdownBtn {
    background: #ebebeb;
    border: 1px solid #CCCCCC;
    padding: 13px 15px 18px 15px;
    font-size: 18px;
    color: #757575;
    border-radius: 4px !important;
    text-align: left;
    width: 200px;
    box-shadow: 0 6px 1px -5px #666666;
}

    .dropdownBtn:hover, .dropdownBtn:focus {
        background: #3683b9;
        color: #FFFFFF;
        border-color: #3683b9;
    }

.dropdownmenu {
    position: relative;
}

.dropdownmenu-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 371px;
    border: 1px solid #ddd;
    z-index: 1;
    text-align: left;
}


.menuCls2 {
    /*max-height: 250px;*/
    overflow-y: auto;
    overflow-x: hidden;
    width: 218px;
}

.show {
    display: block;
}

#searchMenuText2 {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/*/////////////////////////////////////////////////*/

address, dl, ol, ul {
    margin-bottom: 1rem
}

dl, ol, ul {
    margin-top: 0
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative
}

.dropdown-menu2 {
    background-color: #1d1d1d;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 0;
    font-size: .875rem;
    color: #333;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 0 solid rgba(40,40,40,.15);
    border-radius: 4px
}

    .dropdown-menu2.show {
        display: block
    }


.dropdown-menu2 {
    box-shadow: 0 5px 40px 4px rgba(0,0,0,.3);
    -webkit-background-clip: padding-box;
    -webkit-backface-visibility: hidden
}



    .dropdown-menu2, .dropdown-menu2 .dropdown-item-text {
        color: #959595
    }


.select-format {
    z-index: 1029;
    padding: 20px;
    width: 100%;
    white-space: normal;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .select-format .wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-align-content: flex-start;
        align-content: flex-start;
        max-height: 377px
    }

        .select-format .wrapper .types {
            min-width: 100px;
            padding: 0;
            margin: 0 20px 0 0;
            list-style: none;
            font-size: 13px !important;
            line-height: 21px !important;
            font-weight: 300 !important
        }

            .select-format .wrapper .types li {
                position: relative;
                padding: 7px 26px 7px 1px;
                margin: 0;
                color: #b6b6b6;
                border-bottom: 1px solid hsla(0,0%,100%,.11);
                white-space: nowrap;
                cursor: pointer
            }

                .select-format .wrapper .types li:after {
                    content: "";
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 10px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    margin: auto 0;
                    width: 7px;
                    height: 7px;
                    border-color: #fff;
                    border-style: solid;
                    border-width: 1px 1px 0 0
                }

                .select-format .wrapper .types li.current, .select-format .wrapper .types li:hover {
                    color: #fff
                }

                    .select-format .wrapper .types li.current:after, .select-format .wrapper .types li:hover:after {
                        display: block
                    }

                .select-format .wrapper .types li:last-child {
                    border-bottom: none
                }

        .select-format .wrapper > .formats {
            -webkit-flex: 1;
            flex: 1;
            -webkit-align-self: stretch;
            align-self: stretch;
            min-width: 0;
            height: 100%;
            max-height: 377px
        }

        .select-format .wrapper .formats {
            position: relative;
            padding: 0 20px 0 0;
            margin: 0 -20px 0 0;
            overflow-y: auto
        }

            .select-format .wrapper .formats .formats-inner {
                position: relative;
                overflow: hidden;
                width: 195px;
            }

            .select-format .wrapper .formats ul {
                padding: 0;
                margin: 0 -5px -10px !important;
                list-style: none;
                font-size: 0
            }

                .select-format .wrapper .formats ul li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 5px;
                    margin: 0 0 10px;
                    width: 50%;
                    font-size: 12px !important;
                    line-height: 21px !important;
                    font-weight: 400 !important;
                    text-transform: uppercase
                }

                    .select-format .wrapper .formats ul li span {
                        display: block;
                        padding: 6px 8px;
                        border-radius: 3px;
                        text-align: center;
                        cursor: pointer;
                        color: #fff;
                        background-color: #343434;
                        white-space: nowrap;
                        overflow: hidden
                    }

                        .select-format .wrapper .formats ul li span:hover {
                            background-color: #3bb5e9
                        }

                .select-format .wrapper .formats ul li {
                    width: 25% !important
                }

        .select-format .wrapper .types + .formats ul li {
            width: 33.333% !important
        }

.select-format {
    min-width: 366px;
    width: auto;
    border-radius: 4px
}


a:active, a:focus, button:active, button:focus, input:active, input:focus {
    outline: none !important
}

:active, :focus {
    outline: none
}
