<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDocs.Viewer for .NET Sample</title>
   
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="/Scripts/knockout-3.2.0.js"></script>

    <script src="/Scripts/turn.min.js"></script>
    <script src="/Scripts/modernizr.2.6.2.Transform2d.min.js"></script>
    <script src="/Scripts/installableViewer.js"></script>

    <script type='text/javascript'> $.ui.groupdocsViewer.prototype.applicationPath = 'http://localhost:56599/';</script>
    <script type='text/javascript'> $.ui.groupdocsViewer.prototype.useHttpHandlers = false;</script>
    <script src="/Scripts/GroupdocsViewer.all.js"></script>
    
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/groupdocsViewer.all.css" rel="stylesheet" />
    <link href="~/Content/CSS/dialog.css" rel="stylesheet" />
</head>
<body>
    
        @RenderBody()
    
    @RenderSection("scripts", required: false)
</body>
</html>
