@{ Layout = null; }


<!DOCTYPE html>
<html lang="en">

<head>
  <title>GroupDocs.Viewer for .NET</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto+Condensed:400,700">
  <link href="~/Content/style.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="~/Content/custom.js"></script>
  <script>
      ///// ********************************* //////
      ///// DYNAMIC CONFIGURATIONS PARAMETERS
      ///// By Default all properties are set to true
      ///// ********************************* //////

      // Un-comment to Show/Hide Toolbar Controls
      //ShowWatermark = false;
      //ShowImageToggle = false;
      //ShowZoomIn = false;
      //ShowZoomOut = false;
      //ShowRotateImage = false;
      //ShowPreviousDocument = false;
      //ShowNextDocument = false;
      //ShowDownload = false;
      //ShowPDFDownload = false;
      //ShowFileSelection = false;
      //ShowThubmnailPanel = false;

      // Set Default values
      DefaultFilePath = 'calibre.docx'; // leave empty to skip default file loading, defined file name should be available in application 'App_Data' folder.
      isImageToggle = false; // set true to display image mode.
      RotateAngel = 0; // integer value e.g 0 or 90 or 180.
      ZoomValue = 100; // integer values, allowed negative values.

      // Set Watermark properties
      WatermarkText = "my watermark text";
      WatermarkColor = 4366342; // integer values represents the ARGB color.
      WatermarkPosition = 'Diagonal'; // e.g Diagonal, TopLeft, TopCenter, TopRight, BottomLeft, BottomCenter, BottomRight, 
      WatermarkWidth = 100; // integer values.
      WatermarkOpacity = 150; // integer values.
  </script>
  <script src="~/Content/app.js"></script>
</head>

<body oncontextmenu="return false;">

  <div ng-app="GroupDocsViewer" ng-cloak flex layout="column" style="height: 100%;">
    <md-toolbar ng-controller="ToolbarController" layout="row" hide-print md-whiteframe="4" class="md-toolbar-tools md-scroll-shrink">
      <md-button class="md-icon-button" ng-click="toggleLeft()" ng-hide="ShowHideTools.IsThubmnailPanel">
        <md-icon>menu</md-icon>
      </md-button>
      <a href="~/"><h1 hide-xs><img src="/Content/GDLogogo.png" /> Viewer for .NET</h1></a>
      <span flex></span>
      <md-button ng-click="togelToImageDocument()" class="md-icon-button" ng-disabled="!selectedFile" ng-hide="ShowHideTools.IsShowImageToggle">
        <md-icon aria-hidden="true">wallpaper</md-icon>
        <md-tooltip>Toggle Image View</md-tooltip>
      </md-button>
      <md-button ng-click="rotateDocument()" class="md-icon-button" ng-disabled="!isImage" ng-hide="ShowHideTools.IsRotateImage">
        <md-icon>rotate_left</md-icon>
        <md-tooltip>Rotate</md-tooltip>
      </md-button>
      <div class="toolbarbox" ng-hide="ShowHideTools.IsZoomIn">
        <md-button ng-click="zoomInDocument()" class="md-icon-button" ng-hide="ShowHideTools.IsZoomIn">
          <md-icon>zoom_in</md-icon>
          <md-tooltip>Zoom In</md-tooltip>
        </md-button>
        <md-button ng-click="zoomOutDocument()" class="md-icon-button" ng-hide="ShowHideTools.IsZoomOut">
          <md-icon>zoom_out</md-icon>
          <md-tooltip>Zoom Out</md-tooltip>
        </md-button>

        <md-menu ng-hide="ShowHideTools.IsZoomIn">
          <md-button class="md-icon-button" ng-click="this.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin md-menu-align-target><span class="material-icons" style="font-size: 21px;">search</span><span class="material-icons" style="font-size: 19px;">arrow_drop_down</span></md-icon>
            <md-tooltip>Zoom Level</md-tooltip>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <em>Zoom Level</em>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('6')">600%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('5')">500%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('4')">400%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('3')">300%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('2')">200%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('1.5')">150%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('1')">100%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('0.75')">75%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('0.50')">50%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('0.25')">25%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('0.10')">10%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('0.05')">5%</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('1')">Fit to Width</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="zoomLevels('0.50')">Fit to Height</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <md-button ng-click="previousDocument()" class="md-icon-button" ng-disabled="!selectedFile" ng-hide="ShowHideTools.IsPreviousDocument">
        <md-icon>navigate_before</md-icon>
        <md-tooltip>Previous Document</md-tooltip>
      </md-button>
      <div ng-controller="AvailableFilesController">
        <md-select ng-model="selectedFile" placeholder="Please select a file" md-on-open="onOpen()" ng-hide="ShowHideTools.IsFileSelection">
          <md-optgroup label="Available files">
            <md-option ng-value="item" ng-click="onChange(item)" ng-repeat="item in list">{{ item }}</md-option>
          </md-optgroup>
        </md-select>
      </div>
      <md-button ng-click="nextDocument()" class="md-icon-button" ng-disabled="!selectedFile" ng-hide="ShowHideTools.IsNextDocument">
        <md-icon>navigate_next</md-icon>
        <md-tooltip>Next Document</md-tooltip>
      </md-button>
      <md-menu ng-hide="ShowHideTools.IsDownload">
        <md-button class="md-icon-button" ng-click="this.openMenu($mdOpenMenu, $event)">
          <md-icon>file_download</md-icon>
          <md-tooltip>Download Document</md-tooltip>
        </md-button>
        <md-menu-content width="4">

          <md-menu-item ng-hide="ShowHideTools.IsPDFDownload">
            <md-button ng-href="/download/pdf?file={{ selectedFile }}&watermarkText={{Watermark.Text}}&watermarkColor={{Watermark.Color}}&watermarkPosition={{Watermark.Position}}&watermarkWidth={{Watermark.Width}}&watermarkOpacity={{Watermark.Opacity}}" target="_blank"
            ng-disabled="!selectedFile">
              <md-icon md-menu-origin md-menu-align-target>picture_as_pdf</md-icon>
              Download as PDF
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="ShowHideTools.IsDownload">
            <md-button ng-href="/download/original?file={{ selectedFile }}" ng-disabled="!selectedFile">
              <md-icon md-menu-origin md-menu-align-target>file_download</md-icon>
              Download Original
            </md-button>

          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="md-icon-button">
        <md-icon>more_vert</md-icon>
      </md-button>
    </md-toolbar>
    <md-content flex layout="row" md-scroll-y>
      <md-content flex id="content" class="md-padding" role="main">
        <div ng-controller="PagesController">
          <md-card card-set-dimensions ng-repeat="item in docInfo.pages">
            <a name="page-view-{{ item.number }}"></a>
            <iframe iframe-set-dimensions-onload align="middle" ng-src="{{ createPageUrl(selectedFile, item.number) }}" allowTransparency="true"></iframe>
          </md-card>
          <div ng-repeat="attachment in docInfo.attachments">
            <md-card ng-repeat="number in attachment.count">
              <a name="page-view-{{attachment.name}}-{{number}}"></a>
              <iframe ng-src="{{ createAttachmentPageUrl(selectedFile,attachment.name,number) }}" frameborder="0" allowTransparency="true"></iframe>
            </md-card>
          </div>

        </div>
      </md-content>
      <md-sidenav md-component-id="left" hide-print md-whiteframe="4" class="md-sidenav-left">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Thumbnails">
            <md-content role="navigation">
              <div ng-controller="ThumbnailsController">
                <md-card ng-repeat="item in docInfo.pages" class="thumbnail">
                  <img ng-class="{selectedthumbnail: item === selected}" ng-src="{{ createThumbnailUrl(selectedFile, item.number) }}" ng-click="onThumbnailClick($event, item)" class="md-card-image page-thumbnail" />
                </md-card>
                <div ng-repeat="attachment in docInfo.attachments">
                  <md-card ng-repeat="number in  attachment.count">
                    <img ng-src="{{  createAttachmentThumbnailPageUrl(selectedFile,attachment.name,number) }}" ng-click="onAttachmentThumbnailClick($event,attachment.name,number)" class="md-card-image page-thumbnail" />
                  </md-card>
                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-sidenav>
    </md-content>
    <footer>
      <div layout="row" layout-align="center center" flex>
        Powered By&nbsp;<a href="http://groupdocs.github.io/">GroupDocs</a>&nbsp; Document Manipulation API's.

      </div>
    </footer>
  </div>
</body>

</html>