@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <title>GroupDocs.Viewer for .NET</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto+Condensed:400,700">
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="~/Content/custom.js"></script>
    <script>
        ///// ********************************* //////
        ///// DYNAMIC CONFIGURATIONS PARAMETERS
        ///// By Default all properties are set to true
        ///// ********************************* //////

        // Un-comment to Show/Hide Toolbar Controls
        //ShowWatermark = false;
        //ShowImageToggle = false;
        //ShowZoomIn = false;
        //ShowZoomOut = false;
        //ShowRotateImage = false;
        //ShowPreviousDocument = false;
        //ShowNextDocument = false;
        //ShowDownload = false;
        //ShowPDFDownload = false;
        //ShowFileSelection = false;
        //ShowThubmnailPanel = false;
        //ShowPagingPanel = false;

        // Set Default values
        DefaultFilePath = 'calibre.docx'; // leave empty to skip default file loading, defined file name should be available in application 'App_Data' folder.
        //isImageToggle = false; // set true to display image mode by default.
        RotateAngel = 0; // integer value e.g 0 or 90 or 180.
        ZoomValue = 100; // integer values, zoom level.

        // Set Watermark properties
        WatermarkText = "my watermark text";
        WatermarkColor = 4366342; // integer values represents the ARGB color.
        WatermarkPosition = 'Diagonal'; // e.g Diagonal, TopLeft, TopCenter, TopRight, BottomLeft, BottomCenter, BottomRight, 
        WatermarkWidth = 70.0; // float values.
        WatermarkOpacity = 180; // integer values.
  </script>
    <script src="~/Content/app.js"></script>
</head>

<body oncontextmenu="return false;">

    <div ng-app="GroupDocsViewer" ng-cloak flex layout="column" style="height: 100%;">
        <md-toolbar ng-controller="ToolbarController" layout="row" hide-print md-whiteframe="4" class="md-toolbar-tools md-scroll-shrink">
      <md-button class="md-icon-button" ng-click="toggleLeft()" ng-hide="ShowHideTools.IsThubmnailPanel">
        <md-icon>menu</md-icon>
      </md-button>
      <a href="~/"><h1 hide-xs><img src="/Content/GDLogogo.png" /> Viewer for .NET</h1></a>
      <span flex></span>
      <md-switch ng-change="onSwitchChange(data.toggleView)" ng-model="data.toggleView" aria-label="HTML View" ng-true-value="'Image View'" ng-false-value="'HTML View'">
        {{ data.toggleView }}
        <md-tooltip>Toggle <span ng-hide="isImage">Image</span><span ng-hide="!isImage">HTML</span> View</md-tooltip>
      </md-switch>
      <md-button ng-click="rotateDocument()" class="md-icon-button" ng-disabled="!isImage" ng-hide="ShowHideTools.IsRotateImage">
        <md-icon>rotate_left</md-icon>
        <md-tooltip>Rotate</md-tooltip>
      </md-button>

      <md-button ng-click="previousDocument()" class="md-icon-button" ng-disabled="!selectedFile" ng-hide="ShowHideTools.IsPreviousDocument">
        <md-icon>navigate_before</md-icon>
        <md-tooltip>Previous Document</md-tooltip>
      </md-button>
      <div ng-controller="AvailableFilesController">
        <md-select style="overflow:hidden; width:150px!important;" ng-model="selectedFile" placeholder="Please select a file" md-on-open="onOpen()" ng-hide="ShowHideTools.IsFileSelection">
          <md-optgroup label="Available files">
            <md-option ng-value="item" ng-click="onChange(item)" ng-repeat="item in list">{{ item }}</md-option>
          </md-optgroup>
        </md-select>
      </div>
      <md-button ng-click="nextDocument()" class="md-icon-button" ng-disabled="!selectedFile" ng-hide="ShowHideTools.IsNextDocument">
        <md-icon>navigate_next</md-icon>
        <md-tooltip>Next Document</md-tooltip>
      </md-button>
      <md-menu ng-hide="ShowHideTools.IsDownload">
        <md-button class="md-icon-button" ng-click="this.openMenu($mdOpenMenu, $event)">
          <md-icon>file_download</md-icon>
          <md-tooltip>Download Document</md-tooltip>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-hide="ShowHideTools.IsPDFDownload">
            <md-button ng-href="/download/pdf?file={{ selectedFile }}&watermarkText={{Watermark.Text}}&watermarkColor={{Watermark.Color}}&watermarkPosition={{Watermark.Position}}&watermarkWidth={{Watermark.Width}}&watermarkOpacity={{Watermark.Opacity}}&isdownload=false"
            target="_blank" ng-disabled="!selectedFile">
              <md-icon md-menu-origin md-menu-align-target>picture_as_pdf</md-icon>
              Open as PDF
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="ShowHideTools.IsPDFDownload">
            <md-button ng-href="/download/pdf?file={{ selectedFile }}&watermarkText={{Watermark.Text}}&watermarkColor={{Watermark.Color}}&watermarkPosition={{Watermark.Position}}&watermarkWidth={{Watermark.Width}}&watermarkOpacity={{Watermark.Opacity}}&isdownload=true"
            target="_blank" ng-disabled="!selectedFile">
              <md-icon md-menu-origin md-menu-align-target>picture_as_pdf</md-icon>
              Download as PDF
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="ShowHideTools.IsDownload">
            <md-button ng-href="/download/original?file={{ selectedFile }}" ng-disabled="!selectedFile">
              <md-icon md-menu-origin md-menu-align-target>file_download</md-icon>
              Download Original
            </md-button>

          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="md-icon-button">
        <md-icon>more_vert</md-icon>
      </md-button>
    </md-toolbar>
        <md-content flex layout="row" md-scroll-y>
      <md-content flex id="content" class="md-padding" role="main">
        <div ng-controller="PagesController">
          <md-card card-set-dimensions ng-repeat="item in docInfo.pages">
            <a name="page-view-{{ item.number }}"></a>
            <iframe iframe-set-dimensions-onload align="middle" ng-src="{{ createPageUrl(selectedFile, item.number) }}" allowTransparency="true"></iframe>
          </md-card>
          <div ng-repeat="attachment in docInfo.attachments">
            <md-card ng-repeat="number in attachment.count">
              <a name="page-view-{{attachment.name}}-{{number}}"></a>
              <iframe ng-src="{{ createAttachmentPageUrl(selectedFile,attachment.name,number) }}" frameborder="0" allowTransparency="true"></iframe>
            </md-card>
          </div>

        </div>
      </md-content>
      <md-sidenav md-component-id="left" hide-print md-whiteframe="4" class="md-sidenav-left">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Thumbnails">
            <md-content role="navigation">
              <div ng-controller="ThumbnailsController">
                <md-card ng-repeat="item in docInfo.pages" class="thumbnail">
                  <img name="imghumb-{{ item.number }}" ng-class="{selectedthumbnail: item === selected}" ng-src="{{ createThumbnailUrl(selectedFile, item.number) }}" ng-click="onThumbnailClick($event, item)" class="md-card-image page-thumbnail" />
                </md-card>
                <div ng-repeat="attachment in docInfo.attachments">
                  <md-card ng-repeat="number in  attachment.count">
                    <img ng-src="{{  createAttachmentThumbnailPageUrl(selectedFile,attachment.name,number) }}" ng-click="onAttachmentThumbnailClick($event,attachment.name,number)" class="md-card-image page-thumbnail" />
                  </md-card>
                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-sidenav>
    </md-content>
        <footer>
            <md-toolbar ng-controller="ToolbarController" layout="row" hide-print md-whiteframe="4" class="md-toolbar-tools md-scroll-shrink" style="max-height: 40px !important; min-height: 30px !important;">
        <span flex></span>
        <div class="" ng-hide="ShowHideTools.IsShowPagingPanel">
          <md-button ng-click="navigatePage('f')" class="md-icon-button" ng-disabled="!selectedFile">
            <md-icon>first_page</md-icon>
            <md-tooltip md-direction="top">First Page</md-tooltip>
          </md-button>
          <md-button ng-click="navigatePage('-')" class="md-icon-button" ng-disabled="!selectedFile">
            <md-icon>navigate_before</md-icon>
            <md-tooltip md-direction="top">Previous Page</md-tooltip>
          </md-button>
          <input id="inputcurrentpage" my-enter="navigatePage(this.value)" value="0" style="width: 50px; text-align:center; height: 18px; font-size: small;" /><span id="spantoolpager" style="font-size: small;"></span>
          <md-button ng-click="navigatePage('+')" class="md-icon-button" ng-disabled="!selectedFile">
            <md-icon>navigate_next</md-icon>
            <md-tooltip md-direction="top">Next Page</md-tooltip>
          </md-button>
          <md-button ng-click="navigatePage('e')" class="md-icon-button" ng-disabled="!selectedFile">
            <md-icon>last_page</md-icon>
            <md-tooltip md-direction="top">Last Page</md-tooltip>
          </md-button>
        </div>
        <span flex></span>

        <select id="zoomselect" style="width:90px; font-size:small;" ng-model="itemSelected" ng-change="zoomLevels(itemSelected)" ng-hide="ShowHideTools.IsZoomIn">
          <option value="6">600%</option>
          <option value="5">500%</option>
          <option value="4">400%</option>
          <option value="3">300%</option>
          <option value="2">200%</option>
          <option value="1.5">150%</option>
          <option value="1.25">125%</option>
          <option value="1">100%</option>
          <option value="0.75">75%</option>
          <option value="0.50">50%</option>
          <option value="0.25">25%</option>
          <option value="0.05">5%</option>
          <option value="1.97">Fit to Width</option>
          <option value="0.45">Fit to Height</option>
        </select>
        <md-button ng-click="zoomInDocument()" class="md-icon-button" ng-hide="ShowHideTools.IsZoomIn">
          <md-icon>zoom_in</md-icon>
          <md-tooltip md-direction="top">Zoom In</md-tooltip>
        </md-button>
        <md-button style="padding-right:10px;" ng-click="zoomOutDocument()" class="md-icon-button" ng-hide="ShowHideTools.IsZoomOut">
          <md-icon>zoom_out</md-icon>
          <md-tooltip md-direction="top">Zoom Out</md-tooltip>
        </md-button>
  </md-toolbar>
        </footer>
    </div>

</body>

</html>
