html, body
{
    display: block;
    margin: 0;
    padding: 0;
}

iframe
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 99%;
    height: auto;
    margin: 0 auto;
    display: block;
}

    iframe body
    {
        text-align: center;
    }

footer
{
    background-color: #5150ef;
    color: #fff;
    font-size: small;
    border-top: solid 1px #000;
    box-shadow: 2px 2px 4px -1px rgba(0,0,0,.2),4px 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

    footer a
    {
        color: #fff;
        text-decoration: none;
    }
